In [39]:
%run Regression_model_functions.ipynb
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', True)
from sklearn.model_selection import train_test_split
from pprint import pprint

python3 is /Users/joseheredia/anaconda3/bin/python3
/bin/bash: /home/ec2-user/anaconda3/envs/python3/bin/python3: No such file or directory
Imports finished...

In [40]:
def data_split(df):
    # Data split
    x = df.drop('price_m2',axis=1)
    y = df['price_m2']
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)
    return x_train, x_test, y_train, y_test

In [44]:
def execute_analysis():
    df = pd.DataFrame()
    df = pd.concat([df,xgboost(x_train, y_train, x_test, y_test, x_column_names)], ignore_index=True)
    df = pd.concat([df,gradientboost_regressor(x_train, y_train, x_test, y_test, x_column_names)], ignore_index=True)
    df = pd.concat([df,randomforest_regressor(x_train, y_train, x_test, y_test, x_column_names)], ignore_index=True)
    df = pd.concat([df,linear_regression(x_train, y_train, x_test, y_test, x_column_names)], ignore_index=True)
    # results = pd.concat([df,ransac(x_train, y_train, x_test, y_test)], ignore_index=True)
    df = pd.concat([df,ridge(x_train, y_train, x_test, y_test, x_column_names)], ignore_index=True)
    # df = pd.concat([df,elasticnet(x_train, y_train, x_test, y_test)], ignore_index=True)
    # results = pd.concat([df,linearsvr(x_train, y_train, x_test, y_test)], ignore_index=True)
    # results = pd.concat([df,bayesianridge(x_train, y_train, x_test, y_test)], ignore_index=True)
    df = pd.concat([df,lasso(x_train, y_train, x_test, y_test, x_column_names)], ignore_index=True)
    df = pd.concat([df,decisiontree_regressor(x_train, y_train, x_test, y_test, x_column_names)], ignore_index=True)
    # df = pd.concat([df,sgd_regressor(x_train, y_train, x_test, y_test)], ignore_index=True)
    # df = pd.concat([df,huber_regressor(x_train, y_train, x_test, y_test)], ignore_index=True)
    # df = pd.concat([df,theilsen_regressor(x_train, y_train, x_test, y_test)], ignore_index=True)
    return df

In [45]:
display(data_df.head())

,lat,lng,stratum,living_area_m2,administration_price,rooms,price_m2,is_apartment,from_10_to_20_years,from_5_to_10_years,More_than_20_years,is_new
0,4.679580,-74.050410,6.0,260.0,1.250,3.0,6.500000,True,True,False,False,False
1,4.675672,-74.042930,6.0,200.0,1.500,4.0,8.000000,True,False,True,False,False
2,4.720000,-74.042000,5.0,267.0,0.115,4.0,3.932584,False,False,False,True,False
3,4.768770,-74.033485,4.0,127.0,0.336,3.0,3.370079,False,False,True,False,False
4,4.763851,-74.068344,5.0,221.0,0.300,3.0,6.875000,False,True,False,False,False

In [ ]:
# Analysis 1: Remove redundant columns
# data_df = pd.read_csv('Data/20230409_Sales_HousesApartments_Bogota_Stratum4_price_and_pricem2.csv')
data_df = pd.read_csv('Data/Raw_data_sales_full_excl_nbrs.csv')
# data_df.drop('price', axis=1, inplace=True)
data_df.drop(columns=['garages','baths'], inplace=True)
# data_df.dropna(inplace=True)
x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v1 = execute_analysis()

In [47]:
print("--------------- Results Analysis 1 ---------------")
display(results_v1)
print("--------------------- Finish ---------------------")

--------------- Results Analysis 1 ---------------

,Model,Parameters,RMSE,R2 Score,MAE,Feature Importance
0,XGBoost,"{'learning_rate': 0.01, 'max_depth': 100, 'min...",0.81,0.8,0.52,"[(lat, 0.008474376), (lng, 0.008552799), (stra..."
1,Gradient Boost,"{'learning_rate': 0.1, 'loss': 'squared_error'...",0.99,0.71,0.72,"[(lat, 0.18039761538145277), (lng, 0.059370682..."
2,RandomForest Regressor,"{'max_features': 0.6, 'min_samples_leaf': 1, '...",0.83,0.8,0.54,"[(lat, 0.20379056865517575), (lng, 0.127922673..."
3,Lineal Regression,NA,1.21,0.56,0.92,"[(lat, -13.602169471232248), (lng, 9.807939435..."
4,Ridge,NA,1.21,0.56,0.92,"[(lat, -13.30296813333818), (lng, 9.3489888876..."
5,Lasso,NA,1.8,0.03,1.42,"[(lat, -0.0), (lng, 0.0), (stratum, 0.03233762..."
6,DecissionTree Regressor,"{'max_features': 'sqrt', 'min_samples_leaf': 5...",1.06,0.66,0.74,"[(lat, 0.17291698785976656), (lng, 0.093467557..."

--------------------- Finish ---------------------

In [ ]:
# Analysis 2: Reduce DF
data_df = pd.read_csv('Data/Raw_data_sales_full_excl_nbrs.csv')
data_df.drop(columns=['garages','baths', 'rooms'], inplace=True)
x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v2 = execute_analysis()

In [49]:
print("--------------- Results Analysis 2 ---------------")
display(results_v2)
print("--------------------- Finish ---------------------")

--------------- Results Analysis 2 ---------------

,Model,Parameters,RMSE,R2 Score,MAE,Feature Importance
0,XGBoost,"{'learning_rate': 0.01, 'max_depth': 100, 'min...",0.82,0.8,0.52,"[(lat, 0.008902231), (lng, 0.009582237), (stra..."
1,Gradient Boost,"{'learning_rate': 0.1, 'loss': 'squared_error'...",0.99,0.71,0.72,"[(lat, 0.19836401330110703), (lng, 0.086731604..."
2,RandomForest Regressor,"{'max_features': 0.6, 'min_samples_leaf': 1, '...",0.83,0.79,0.54,"[(lat, 0.21717420212173938), (lng, 0.139200193..."
3,Lineal Regression,NA,1.23,0.54,0.94,"[(lat, -14.87610972922266), (lng, 11.913862575..."
4,Ridge,NA,1.23,0.54,0.94,"[(lat, -14.55304518806653), (lng, 11.400205818..."
5,Lasso,NA,1.8,0.03,1.42,"[(lat, -0.0), (lng, 0.0), (stratum, 0.03233762..."
6,DecissionTree Regressor,"{'max_features': 'sqrt', 'min_samples_leaf': 5...",1.06,0.67,0.73,"[(lat, 0.22737990249150836), (lng, 0.216676543..."

--------------------- Finish ---------------------

In [ ]:
# Analysis 3: Full DF
data_df = pd.read_csv('Data/Raw_data_sales_full_excl_nbrs.csv')
x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v3 = execute_analysis()

In [51]:
print("--------------- Results Analysis 3 ---------------")
display(results_v3)
print("--------------------- Finish ---------------------")

--------------- Results Analysis 3 ---------------

,Model,Parameters,RMSE,R2 Score,MAE,Feature Importance
0,XGBoost,"{'learning_rate': 0.01, 'max_depth': 100, 'min...",0.79,0.81,0.5,"[(lat, 0.008155236), (lng, 0.00788017), (strat..."
1,Gradient Boost,"{'learning_rate': 0.1, 'loss': 'squared_error'...",0.96,0.72,0.7,"[(lat, 0.17123841227989045), (lng, 0.056556431..."
2,RandomForest Regressor,"{'max_features': 0.6, 'min_samples_leaf': 1, '...",0.81,0.8,0.53,"[(lat, 0.19436885756516184), (lng, 0.116934888..."
3,Lineal Regression,NA,1.18,0.58,0.89,"[(lat, -14.192225668815261), (lng, 9.079787013..."
4,Ridge,NA,1.18,0.58,0.89,"[(lat, -13.8916957464668), (lng, 8.63802336245..."
5,Lasso,NA,1.8,0.03,1.42,"[(lat, -0.0), (lng, 0.0), (stratum, 0.03233762..."
6,DecissionTree Regressor,"{'max_features': 'sqrt', 'min_samples_leaf': 5...",1.05,0.67,0.74,"[(lat, 0.15966682845398003), (lng, 0.067717240..."

--------------------- Finish ---------------------

In [ ]:
# Analysis 4: Reduce DF
data_df = pd.read_csv('Data/Raw_data_sales_full_excl_nbrs.csv')
data_df.drop(columns=['garages'], inplace=True)
x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v4 = execute_analysis()

In [53]:
print("--------------- Results Analysis 4 ---------------")
display(results_v4)
print("--------------------- Finish ---------------------")

--------------- Results Analysis 4 ---------------

,Model,Parameters,RMSE,R2 Score,MAE,Feature Importance
0,XGBoost,"{'learning_rate': 0.01, 'max_depth': 100, 'min...",0.81,0.8,0.51,"[(lat, 0.008302038), (lng, 0.008272111), (stra..."
1,Gradient Boost,"{'learning_rate': 0.1, 'loss': 'squared_error'...",0.98,0.71,0.72,"[(lat, 0.1797912409855127), (lng, 0.0585074779..."
2,RandomForest Regressor,"{'max_features': 0.6, 'min_samples_leaf': 1, '...",0.82,0.8,0.54,"[(lat, 0.20017465597652503), (lng, 0.123287867..."
3,Lineal Regression,NA,1.21,0.56,0.92,"[(lat, -13.726604748054763), (lng, 9.387024902..."
4,Ridge,NA,1.21,0.56,0.92,"[(lat, -13.430162033585953), (lng, 8.939748479..."
5,Lasso,NA,1.8,0.03,1.42,"[(lat, -0.0), (lng, 0.0), (stratum, 0.03233762..."
6,DecissionTree Regressor,"{'max_features': 'sqrt', 'min_samples_leaf': 5...",1.05,0.67,0.73,"[(lat, 0.2753599306908155), (lng, 0.1827236560..."

--------------------- Finish ---------------------

In [ ]:
# Analysis 5: Reduce DF
data_df = pd.read_csv('Data/20230409_Sales_HousesApartments_Bogota_Stratum4_price_and_pricem2.csv')
data_df.drop('price', axis=1, inplace=True)
data_df = data_df[data_df['price_m2'] <= 15000000]
data_df = data_df[data_df['total_area_m2'] <= 400]
data_df = data_df[data_df['administration_price'] <= 1500000]
data_df.drop(['is_apartment', 'is_house', 'more_than_20_years_old', 'between_10_and_20_years_old'], axis=1, inplace=True)
data_df.dropna(inplace=True)

x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v5 = execute_analysis()

In [ ]:
print("--------------- Results Analysis 5 ---------------")
display(results_v5)
print("--------------------- Finish ---------------------")

In [ ]:
# Analysis 6: Reduce DF
data_df = pd.read_csv('Data/20230409_Sales_HousesApartments_Bogota_Stratum4_price_and_pricem2.csv')
data_df.drop('price', axis=1, inplace=True)
data_df = data_df[data_df['price_m2'] <= 15000000]
data_df = data_df[data_df['total_area_m2'] <= 400]
data_df = data_df[data_df['administration_price'] <= 1500000]
data_df = data_df[data_df['lat'] > 4.58 ]
data_df = data_df[data_df['lng'] > -74.15 ]
data_df = data_df[data_df['lng'] < -74.02 ]
data_df.dropna(inplace=True)

x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v6 = execute_analysis()

In [ ]:
print("--------------- Results Analysis 6 ---------------")
display(results_v6)
print("--------------------- Finish ---------------------")

In [ ]:
# Analysis 7: Reduce DF
data_df = pd.read_csv('Data/20230409_Sales_HousesApartments_Bogota_Stratum4_price_and_pricem2.csv')
data_df.drop('price', axis=1, inplace=True)
data_df = data_df[data_df['price_m2'] <= 15000000]
data_df = data_df[data_df['total_area_m2'] <= 400]
data_df = data_df[data_df['administration_price'] <= 1500000]
data_df = data_df[data_df['lat'] > 4.58 ]
data_df = data_df[data_df['lng'] > -74.15 ]
data_df = data_df[data_df['lng'] < -74.02 ]
data_df.drop(['is_apartment', 'is_house', 'more_than_20_years_old', 'between_10_and_20_years_old'], axis=1, inplace=True)
data_df.dropna(inplace=True)

x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v7 = execute_analysis()

In [ ]:
print("--------------- Results Analysis 7 ---------------")
display(results_v7)
print("--------------------- Finish ---------------------")

In [ ]:
pprint(results_v6['Feature Importance'][6])

In [ ]:
# Analysis 8: Reduce DF
data_df = pd.read_csv('Data/20230409_Sales_HousesApartments_Bogota_Stratum4_price_and_pricem2.csv')
data_df.drop('price', axis=1, inplace=True)
data_df = data_df[data_df['price_m2'] <= 15000000]
data_df = data_df[data_df['total_area_m2'] <= 400]
data_df = data_df[data_df['administration_price'] <= 1500000]
data_df = data_df[data_df['lat'] > 4.58 ]
data_df = data_df[data_df['lng'] > -74.15 ]
data_df = data_df[data_df['lng'] < -74.02 ]
data_df = data_df[data_df['rooms'] < 5 ]
data_df.dropna(inplace=True)

x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v8 = execute_analysis()

In [ ]:
print("--------------- Results Analysis 8 ---------------")
display(results_v8)
print("--------------------- Finish ---------------------")

In [ ]:
# Analysis 9: Reduce DF
data_df = pd.read_csv('Data/20230409_Sales_HousesApartments_Bogota_Stratum4_price_and_pricem2.csv')
data_df.drop(['price', 'is_house'], axis=1, inplace=True)
data_df = data_df[data_df['price_m2'] <= 15000000]
data_df = data_df[data_df['total_area_m2'] <= 400]
data_df = data_df[data_df['administration_price'] <= 1500000]
data_df = data_df[data_df['lat'] > 4.58 ]
data_df = data_df[data_df['lng'] > -74.15 ]
data_df = data_df[data_df['lng'] < -74.02 ]
data_df.dropna(inplace=True)

x_train, x_test, y_train, y_test = data_split(data_df)
x_column_names = data_df.drop('price_m2',axis=1).columns.values.tolist()
results_v9 = execute_analysis()

In [ ]:
print("--------------- Results Analysis 9 ---------------")
display(results_v9)
print("--------------------- Finish ---------------------")